#mainNavBar{
float : Right;
padding-top:5px;
}

.sec1{
	background-color: gray;
	color:white;
	text-align: center;
	margin-bottom:50px;
	margin-top:50px;
	font-size: 15px;
}
.sec2{
	font-weight:bold;
	font-size: 20px;
	margin-top:50px;
    margin-bottom:20px;
    	
}

.sec3{
	text-align: center;
	font-size: 18px;
	background-color:white;
	color: black;
	padding:80px;
}

.footer {
    background-color:black;
	color:white;
    padding:100px; 
}

.abc{
	padding-top:200px;
}